@using Microsoft.AspNetCore.Identity
@using projekt_bd_wypozyczalnia_gier.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Logout", "Account")" style="font-size: 30px; color: white;">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Login", "Account")" style="font-size: 30px; color: white;">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Register", "Account")" style="font-size: 30px; color: white;">Register</a>
        </li>
    }
</ul>
