@model IEnumerable<projekt_bd_wypozyczalnia_gier.Models.Customer>

<h2>Lista Klientów</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Imiê</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.Phone</td>
                <td>
                    <a href="/Customer/Edit/@customer.Id">Edytuj</a> |
                    <a href="/Customer/Details/@customer.Id">Szczegó³y</a> |
                    <a href="/Customer/Delete/@customer.Id">Usuñ</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Customer/Create">Dodaj klienta</a>
