<style>
    th, td {
        border: 3px solid black;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: white;
    }

    thead, tbody {
        border: 3px solid black;
    }

    table {
        width: 100%;
    }

    body {
        background-color: mediumpurple;
    }
</style>

<div>
    <h1>Czym się zajmujemy?</h1>
    <div style="font-size: 25px; color: white;">
        Jesteśmy wypożyczalnią gier komputerowych. Każdy może przyjśc do nas, aby zobaczyć i wypożyczyć grę, którą aktualnie mamy na oku. Na stronie znajdują się wszystkie pozycje, które mamy w sklepie.
    </div><br />
<div>
    <h1>Gdzie można nas znaleźć?</h1>
    <div style="font-size: 25px; color: white;">
        Nasz punkt znajduje się na ulicy Krakowskiej 777 w Krakowie.
    </div><br/>
</div>
<div>
    <h1>Jak to działa?</h1>
    <div style="font-size: 25px; color: white;">
        Aby wypożyczyć grę należy wpłacić kaucję zwrotną o wartości 100 zł i kwotę dodatkową zależną od wypożyczonej gry.
        </div><br />
</div>
<div>
    <h1>Ile gier można wypożyczyć?</h1>
    <div style="font-size: 25px; color: white;">
        Maksymalnie można jedną. Jesteś wpisywany do systemu jak posiadacz jednej z naszych gier. Okres wypożyczenia to maksymalnie 2 tygodnie z opcją płatnego przedłużenia.
    </div>
</div>


